<section class="section" id="services-2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 text-center">
                <div class="section-heading">
                    <!-- Heading -->
                    <h2 class="section-title mb-2 text-white">
                        Nuestros Servicios
                    </h2>

                    <!-- Subheading -->
                    <p class="mb-5 text-white">
                        Esta es la razón por la cual escogernos sera tu mejor decisión!.
                    </p>
                </div>
            </div>
        </div> <!-- / .row -->

        <div class="row">
            <div class="col-lg-4 col-sm-6 col-md-6 mb-30">
                <div class="web-service-block">
                    <i class="ti-light-bulb"></i>
                    <h3>Diseño Creativo</h3>
                    <p>Tu nos importas, y la idea que quieres expresar para nosotros sera todo un reto plasmarla.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6 mb-30">
                <div class="web-service-block">
                    <i class="ti-desktop"></i>
                    <h3>Desarrollo Web</h3>
                    <p>Somos buenos en estos, nuestras soluciones son creativas profesionales y de alta calidad</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6 mb-30">
                <div class="web-service-block">
                    <i class="ti-announcement"></i>
                    <h3>Metodologías Agiles</h3>
                    <p>Sabemos lo importante que es tener el control de tu producto, nuestras metodologías facilitan el desarrollo tu solución.</p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-md-6 ">
                <div class="web-service-block">
                    <i class="ti-layers-alt"></i>
                    <h3>Integraciones con Terceros</h3>
                    <p>Necesitas consumir o integrar tu CRM, ERP, nosotros lo hacemos por ti.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6 ">
                <div class="web-service-block">
                    <i class="ti-mobile"></i>
                    <h3>Desarrollo Movil</h3>
                    <p>Contamos con una amplia experencia en el desarrollo movil Android y iOS</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6 ">
                <div class="web-service-block">
                    <i class="ti-settings"></i>
                    <h3>Desarrollo Cloud</h3>
                    <p>Con nuestra infraestructura en la nube tus datos y aplicaciones estaran disponivles 24/7/365</p>
                </div>
            </div>
        </div>
    </div>
</section>