<footer class="section " id="footer">
    <div class="overlay footer-overlay"></div>
    <!--Content -->
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-lg-4 col-sm-12">
                <div class="footer-widget">
                    <!-- Brand -->
                    <a href="#" class="footer-brand text-white">
                        AREATIC
                    </a>
                    <p>AREATIC es una compañía joven direccionada al desarrollo de software de alto nivel, con ingenieros expertos en desarrollo de aplicaciones de consolidación de información vía aplicaciones móviles y entorno web.
                        Somos especialistas en Desarrollo de Software a medida.
                        Brindamos posibilidades Infinitas para tu Empresa.</p>
                </div>
            </div>

            <div class="col-lg-3 ml-lg-auto col-sm-12">
                <div class="footer-widget">
                    <h3>Account</h3>
                    <!-- Links -->
                    <ul class="footer-links ">
                        <li>
                            <a href="#">
                                Terminos y Condiciones
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Politica de Privacidad
                            </a>
                        </li>                        
                    </ul>
                </div>
            </div>


            <div class="col-lg-2 col-sm-6">
                <div class="footer-widget">
                    <h3>About</h3>
                    <!-- Links -->
                    <ul class="footer-links ">
                        <li>
                            <a href="#">
                                Servicios
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Staff
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Proyectos
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Contactanos
                            </a>
                        </li>                        
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-sm-6">
                <div class="footer-widget">
                    <h3>Socials</h3>
                    <!-- Links -->
                    <ul class="list-unstyled footer-links">
                        <li><a href="#"><i class="fab fa-facebook-f"></i>Facebook</a></li>
                        <li>
                            <a href="#"><i class="fab fa-twitter"></i>Twitter
                            </a></li>
                        <li><a href="#"><i class="fab fa-pinterest-p"></i>Pinterest
                            </a></li>
                        <li><a href="#"><i class="fab fa-linkedin"></i>linkedin
                            </a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i>YouTube
                            </a></li>
                    </ul>
                </div>
            </div>
        </div> <!-- / .row -->        
    </div> <!-- / .container -->
</footer>


<!--  Page Scroll to Top  -->

<a class="scroll-to-top js-scroll-trigger" href="#top-header">
    <i class="fa fa-angle-up"></i>
</a>