<section class="section" id="section-testimonial">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 col-sm-12 col-md-12">
                <div class="section-heading testimonial-heading">
                    <h1>Conócenos!</h1>
                    <p>Nuestro equipo de profesionales que te acompañaran en la construccion de tu solución ideal.</p>
                </div>
            </div>
            <div class="col-lg-8 col-sm-12 col-md-12">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="test-inner ">
                            <div class="test-author-thumb d-flex">
                                <img src="../../../assets/images/client/test-1.jpg" alt="Deivis Vargas Blanco" class="img-fluid">
                                <div class="test-author-info">
                                    <h4>Deivis Vargas Blanco</h4>
                                    <h6>Backend Developer</h6>
                                </div>
                            </div>

                            Ingeniero de Sistemas, desarrollador de software con más de 10 años de experiencia en desarrollo de aplicaciones web y móvil con conocimientos PHP, C#, Java, JavaScript,
                            Jquery, NodeJs, MySQL, MongoDB, PostgreSQL, SQLite, DynamoDB.

                            <i class="fa fa-quote-right"></i>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="test-inner ">
                            <div class="test-author-thumb d-flex">
                                <img src="../../../assets/images/staff/dairo.jpeg" alt="Dairo Aguas Barraza" class="img-fluid">
                                <div class="test-author-info">
                                    <h4>Dairo Aguas Barraza</h4>
                                    <h6>Android Developer</h6>
                                </div>
                            </div>

                            Ingeniero electrónico y telecomunicaciones con un Máster en desarrollo de aplicaciones Android. Cuenta con más de 5 años de experiencia en el desarrollo de aplicaciones móviles en Android Nativo (Java y Kotlin).

                            <i class="fa fa-quote-right"></i>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="test-inner ">
                            <div class="test-author-thumb d-flex">
                                <img src="../../../assets/images/staff/victor.svg" alt="Victor Franco Valencia" class="img-fluid">
                                <div class="test-author-info">
                                    <h4>Victor Franco Valencia</h4>
                                    <h6>Frontend Developer</h6>
                                </div>
                            </div>

                            Ingeniero de Sistemas, con mas de 5 años de experiencia en desarrollo Web como Frontend Developer conocimientos en AngularJS, Angular (7,8,9), Vue, Ionic, PHP, C#, Javascript, jQuery, NodeJS, Express, NestJS, MySQL, MongoDB, CouchDB entre otros

                            <i class="fa fa-quote-right"></i>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="test-inner ">
                            <div class="test-author-thumb d-flex">
                                <img src="../../../assets/images/staff/alejandro.svg" alt="Alejandro Gonzalez" class="img-fluid">
                                <div class="test-author-info">
                                    <h4>Alejandro Correa</h4>
                                    <h6>Python Developer</h6>
                                </div>
                            </div>

                            Técnico profesional en sistemas. Experiencia de 4 años en soporte y mantenimiento, y 9 meses en desarrollo web, sockets tcp/ip, sistemas embebidos, c++, python, ubuntu, modelado 2D y 3D, git, github, docker y QA.

                            <i class="fa fa-quote-right"></i>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="test-inner">
                            <div class="test-author-thumb d-flex">
                                <img src="../../../assets/images/staff/lennys.jfif" alt="Testimonial author" class="img-fluid">
                                <div class="test-author-info">
                                    <h4>Lennys Carreño</h4>
                                    <h6>Scrum Master</h6>
                                </div>
                            </div>

                            Quas ut distinctio tenetur animi nihil rem, amet dolorum totam. Ab repudiandae tempore qui
                            fugiat amet ipsa id omnis ipsam, laudantium! Dolorem.

                            <i class="fa fa-quote-right"></i>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="test-inner">
                            <div class="test-author-thumb d-flex">
                                <img src="../../../assets/images/client/test-6.jpg" alt="Testimonial author" class="img-fluid">
                                <div class="test-author-info">
                                    <h4>Alexander Rojas</h4>
                                    <h6>Gerente Comercial</h6>
                                </div>
                            </div>

                            Quas ut distinctio tenetur animi nihil rem, amet dolorum totam. Ab repudiandae tempore qui
                            fugiat amet ipsa id omnis ipsam, laudantium! Dolorem.

                            <i class="fa fa-quote-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
