<!-- navbar -->
<app-navbar></app-navbar>
<!-- end navbar -->

<!-- cabecera section -->
<app-header></app-header>

<!-- techs -->
<app-section-ourtechs></app-section-ourtechs>
<!-- end techs -->

<!-- services -->
<app-section-services></app-section-services>
<!-- end services -->

<!-- proyectos -->
<app-section-projects></app-section-projects>
<!-- end proyectos -->

<!-- gallery -->
<app-section-gallery></app-section-gallery>
<!-- end gallery -->

<!-- skills -->
<app-section-skills></app-section-skills>
<!-- end skills -->

<!-- staff -->
<app-section-staff></app-section-staff>
<!-- end staff -->

<!-- footer -->
<app-footer></app-footer>
<!-- end footer -->
