<section class="section" id="process">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 text-center">
                <div class="section-heading">
                    <!-- Heading -->
                    <h2 class="section-title">
                        Conoce nuestros logros
                    </h2>

                    <!-- Subheading -->
                    <p>
                        Cada proyecto ha sido desarrollado para cubrir la necesidad de nuestros clientes.
                    </p>

                </div>
            </div>
        </div> <!-- / .row -->

        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="process-block">
                    <img src="../../../assets/images/process/process-1.jpg" alt="" class="img-fluid">

                    <h3>CParking</h3>
                    <p>Es un sistema orgullosamente COLOMBIANO desarrollado especialmente para la administración de zonas de estacionamiento regulado del país.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="process-block">
                    <img src="../../../assets/images/process/process-2.jpg" alt="" class="img-fluid">

                    <h3>No+Planillas</h3>
                    <p>No más planillas es un sistema que permite la administración oportuna de la información de registro de ingresos, novedades, información de punto de venta</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="process-block">
                    <img src="../../../assets/images/process/process-3.jpg" alt="" class="img-fluid">

                    <h3>ISIS</h3>
                    <p>Nihil facere delectus eaque aut possimus nobis laudantium reprehenderit.</p>
                </div>
            </div>
        </div>
    </div>
</section>